<aside class="aside-container">
    
    <div class="logo-container">
        <img class="logo-svg" src="../../../assets/svg/escudo.svg" alt="logiport logo">
        <h1 class="logo-title">LOGIPORT</h1>
    </div>
    
    
    <nav>
        <a class="link-container" routerLink="/inicio" routerLinkActive="active">
            <i class="link__icon fa-solid fa-house"></i>
            <p class="link__description">Inicio</p>        
        </a>
        <a class="link-container" routerLink="/cuenta" routerLinkActive="active">
            <i class="link__icon  fa-solid fa-user"></i>
            <p class="link__description">Cuenta</p>
        </a>
    </nav>
    
</aside>