@import "./../../../app.component.scss";

.aside-container{
    width: 100%;
    height: 100vh;
    background-color: $principal-color-blue;

    text-decoration: none;

    .logo-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 10px;
        border-bottom: 2px solid $secondary-color;

        color: $secondary-color;
        
        transition: all ease .3s;
        &:hover{
            filter: invert(46%) sepia(31%) saturate(708%) hue-rotate(167deg) brightness(93%) contrast(87%);
        }
        
        .logo-title{
            font-size: 24px;
            margin-left: 10px;
            margin-right: 10px;
        }

        .logo-svg{
            width: 50px;
            height: 50px;
            filter: invert(93%) sepia(6%) saturate(456%) hue-rotate(177deg) brightness(101%) contrast(88%);
        }
    }

    nav{
        .link-container{
            width: 100%;
            height: 50px;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            padding: 10px;

            color: $secondary-color;

            transition: all ease .3s;
            &:hover{
                background-color: $color-blue-2;
            }

            &.active{
                cursor: default;
                background-color: $color-blue-2;
                color: $light-blue;
            }

            .link__description{
                margin-left: 5px;

            }

        }
    }

}