<div (click)="closeModal()" class="modal-overlay">
  <div (click)="clickModal = true" class="modal-container">
    <div class="modal__close">
      <svg (click)="closeModal()" xmlns="http//www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 96 96">
        <switch>
          <g>
            <path
              d="M53.657 48l25.171-25.172a4 4 0 1 0-5.656-5.656L48 42.343 22.829 17.172a4 4 0 0 0-5.657 5.656L42.344 48 17.172 73.172a4 4 0 1 0 5.657 5.656L48 53.657l25.172 25.171C73.953 79.609 74.977 80 76 80s2.048-.391 2.828-1.172a4 4 0 0 0 0-5.656L53.657 48z" />
          </g>
        </switch>
      </svg>
    </div>
    <h2 class="modal__title">{{ titleText }}</h2>

    <form class="modal__form" [formGroup]="boatForm" (ngSubmit)="onSubmit()">

      <div class="form-flex">
        <div class="form__input-container">
          <label class="form__label-input">
            Nombre
          </label>
          <div class="input-wrap">
            <div class="input-info" [class.success]="boatForm.get('boatName')?.valid"
              [class.error]="boatForm.get('boatName')?.invalid && boatForm.get('boatName')?.touched">
            </div>
            <input formControlName="boatName" class="form__input" type="text" placeholder="Nombre de lancha"
              name="boatName" autocomplete="off">
          </div>
          <span class="form__error"
            *ngIf="boatForm.get('boatName')?.invalid && boatForm.get('boatName')?.touched">
            Debe <strong>completar el campo.</strong>
          </span>
        </div>

        <div class="form__input-container">
          <label class="form__label-input">
            Matrícula
          </label>
          <div class="input-wrap">
            <div class="input-info" [class.success]="boatForm.get('enrollment')?.valid"
              [class.error]="boatForm.get('enrollment')?.invalid && boatForm.get('enrollment')?.touched">
            </div>
            <input formControlName="enrollment" class="form__input" type="text" placeholder="Matrícula"
              name="enrollment" autocomplete="off" maxlength="11">
          </div>
          <span class="form__error"
            *ngIf="boatForm.get('enrollment')?.invalid && boatForm.get('enrollment')?.touched">
            Debe <strong>completar el campo.</strong>
          </span>
        </div>

        <div class="form__input-container">
          <label class="form__label-input">Señal distintiva</label>
          <div class="input-wrap">
            <div class="input-info" [class.success]="boatForm.get('distinguishingMark')?.valid"
              [class.error]="boatForm.get('distinguishingMark')?.invalid && boatForm.get('distinguishingMark')?.touched">
            </div>
            <input formControlName="distinguishingMark" class="form__input" type="text" placeholder="Señal distintiva"
              name="distinguishingMark" autocomplete="off" maxlength="11">
          </div>
          <span class="form__error"
            *ngIf="boatForm.get('distinguishingMark')?.invalid && boatForm.get('distinguishingMark')?.touched">
            Debe <strong>completar el campo.</strong>
          </span>
        </div>

        <div class="form__input-container">
          <label class="form__label-input">Material del casco</label>
          <div class="input-wrap">
            <div class="input-info" [class.success]="boatForm.get('hullMaterial')?.valid"
              [class.error]="boatForm.get('hullMaterial')?.invalid && boatForm.get('hullMaterial')?.touched">
            </div>
            <input formControlName="hullMaterial" class="form__input" type="text" placeholder="Material del casco"
              name="hullMaterial" autocomplete="off" maxlength="11">
          </div>
          <span class="form__error"
            *ngIf="boatForm.get('hullMaterial')?.invalid && boatForm.get('hullMaterial')?.touched">
            Debe <strong>completar el campo.</strong>
          </span>
        </div>

        <div class="form__input-container">
          <label class="form__label-input">Tipo</label>
          <div class="input-wrap">
            <div class="input-info" [class.success]="boatForm.get('boatType')?.valid"
              [class.error]="boatForm.get('boatType')?.invalid && boatForm.get('boatType')?.touched">
            </div>
            <input formControlName="boatType" class="form__input" type="text" placeholder="Tipo de lancha"
              name="boatType" autocomplete="off" maxlength="11">
          </div>
          <span class="form__error"
            *ngIf="boatForm.get('boatType')?.invalid && boatForm.get('boatType')?.touched">
            Debe <strong>completar el campo.</strong>
          </span>
        </div>

        <div class="form__input-container">
          <label class="form__label-input">Servicio</label>
          <div class="input-wrap">
            <div class="input-info" [class.success]="boatForm.get('service')?.valid"
              [class.error]="boatForm.get('service')?.invalid && boatForm.get('service')?.touched">
            </div>
            <input formControlName="service" class="form__input" type="text" placeholder="Servicio" name="service"
              autocomplete="off" maxlength="11">
          </div>
          <span class="form__error" *ngIf="boatForm.get('service')?.invalid && boatForm.get('service')?.touched">
            Debe <strong>completar el campo.</strong>
          </span>
        </div>

        <div class="form__input-container">
          <label class="form__label-input">Explotación específica</label>
          <div class="input-wrap">
            <div class="input-info" [class.success]="boatForm.get('specificExploitation')?.valid"
              [class.error]="boatForm.get('specificExploitation')?.invalid && boatForm.get('specificExploitation')?.touched">
            </div>
            <input formControlName="specificExploitation" class="form__input" type="text"
              placeholder="Explotación específica" name="specificExploitation" autocomplete="off" maxlength="11">
          </div>
          <span class="form__error"
            *ngIf="boatForm.get('specificExploitation')?.invalid && boatForm.get('specificExploitation')?.touched">
            Debe <strong>completar el campo.</strong>
          </span>
        </div>

        <div class="form__input-container">
          <label class="form__label-input">Fecha de matrícula</label>
          <div class="input-wrap">
            <div class="input-info" [class.success]="boatForm.get('enrollmentDate')?.valid"
              [class.error]="boatForm.get('enrollmentDate')?.invalid && boatForm.get('enrollmentDate')?.touched">
            </div>
            <input formControlName="enrollmentDate" class="form__input" type="text" onfocus="(this.type='date')"
              placeholder="Fecha matrícula" name="enrollmentDate" autocomplete="off" maxlength="11">
          </div>
          <span class="form__error"
            *ngIf="boatForm.get('enrollmentDate')?.invalid && boatForm.get('enrollmentDate')?.touched">
            Debe <strong>completar el campo.</strong>
          </span>
        </div>

        <div class="form__input-container">
          <label class="form__label-input">Fecha de construcción</label>
          <div class="input-wrap">
            <div class="input-info" [class.success]="boatForm.get('constructionDate')?.valid"
              [class.error]="boatForm.get('constructionDate')?.invalid && boatForm.get('constructionDate')?.touched">
            </div>
            <input formControlName="constructionDate" class="form__input" type="text" onfocus="(this.type='date')"
              placeholder="Fecha construcción" name="constructionDate" autocomplete="off" maxlength="11">
          </div>
          <span class="form__error"
            *ngIf="boatForm.get('constructionDate')?.invalid && boatForm.get('constructionDate')?.touched">
            Debe <strong>completar el campo.</strong>
          </span>
        </div>

        <div class="form__input-container">
          <label class="form__label-input">NAT</label>
          <div class="input-wrap">
            <div class="input-info" [class.success]="boatForm.get('nat')?.valid"
              [class.error]="boatForm.get('nat')?.invalid && boatForm.get('nat')?.touched">
            </div>
            <input formControlName="nat" class="form__input" type="number" placeholder="NAT" name="nat"
              autocomplete="off" maxlength="11">
          </div>
          <span class="form__error"
            *ngIf="boatForm.get('nat')?.invalid && boatForm.get('nat')?.touched">
            Debe <strong>completar el campo.</strong>
          </span>
        </div>

        <div class="form__input-container">
          <label class="form__label-input">NAN</label>
          <div class="input-wrap">
            <div class="input-info" [class.success]="boatForm.get('nan')?.valid"
              [class.error]="boatForm.get('nan')?.invalid && boatForm.get('nan')?.touched">
            </div>
            <input formControlName="nan" class="form__input" type="number" placeholder="NAN" name="nan"
              autocomplete="off" maxlength="11">
          </div>
          <span class="form__error" *ngIf="boatForm.get('nan')?.invalid && boatForm.get('nan')?.touched">
            Debe <strong>completar el campo.</strong>
          </span>
        </div>

        <div class="form__input-container">
          <label class="form__label-input">Eslora</label>
          <div class="input-wrap">
            <div class="input-info" [class.success]="boatForm.get('eslora')?.valid"
              [class.error]="boatForm.get('eslora')?.invalid && boatForm.get('eslora')?.touched">
            </div>
            <input formControlName="eslora" class="form__input" type="number" placeholder="Eslora" name="eslora"
              autocomplete="off" maxlength="11">
          </div>
          <span class="form__error" *ngIf="boatForm.get('eslora')?.invalid && boatForm.get('eslora')?.touched">
            Debe <strong>completar el campo.</strong>
          </span>
        </div>

        <div class="form__input-container">
          <label class="form__label-input">Manga</label>
          <div class="input-wrap">
            <div class="input-info" [class.success]="boatForm.get('manga')?.valid"
              [class.error]="boatForm.get('manga')?.invalid && boatForm.get('manga')?.touched">
            </div>
            <input formControlName="manga" class="form__input" type="number" placeholder="Manga" name="manga"
              autocomplete="off" maxlength="11">
          </div>
          <span class="form__error" *ngIf="boatForm.get('manga')?.invalid && boatForm.get('manga')?.touched">
            Debe <strong>completar el campo.</strong>
          </span>
        </div>

        <div class="form__input-container">
          <label class="form__label-input">Puntal</label>
          <div class="input-wrap">
            <div class="input-info" [class.success]="boatForm.get('puntal')?.valid"
              [class.error]="boatForm.get('puntal')?.invalid && boatForm.get('puntal')?.touched">
            </div>
            <input formControlName="puntal" class="form__input" type="number" placeholder="Puntal" name="puntal"
              autocomplete="off" maxlength="11">
          </div>
          <span class="form__error" *ngIf="boatForm.get('puntal')?.invalid && boatForm.get('puntal')?.touched">
            Debe <strong>completar el campo.</strong>
          </span>
        </div>

        <div class="form__input-container">
          <label class="form__label-input">Personas transportadas</label>
          <div class="input-wrap">
            <div class="input-info" [class.success]="boatForm.get('peopleTransported')?.valid"
              [class.error]="boatForm.get('peopleTransported')?.invalid && boatForm.get('peopleTransported')?.touched">
            </div>
            <input formControlName="peopleTransported" class="form__input" type="number"
              placeholder="Personas transportadas" name="peopleTransported" autocomplete="off" maxlength="11">
          </div>
          <span class="form__error"
            *ngIf="boatForm.get('peopleTransported')?.invalid && boatForm.get('peopleTransported')?.touched">
            Debe <strong>completar el campo.</strong>
          </span>
        </div>

        <div class="form__input-container">
          <label class="form__label-input">Potencia</label>
          <div class="input-wrap">
            <div class="input-info" [class.success]="boatForm.get('boatPower')?.valid"
              [class.error]="boatForm.get('boatPower')?.invalid && boatForm.get('boatPower')?.touched">
            </div>
            <input formControlName="boatPower" class="form__input" type="text" placeholder="Potencia" name="boatPower"
              autocomplete="off" maxlength="11">
          </div>
          <span class="form__error"
            *ngIf="boatForm.get('boatPower')?.invalid && boatForm.get('boatPower')?.touched">
            Debe <strong>completar el campo.</strong>
          </span>
        </div>

        <div class="form__input-container">
          <label class="form__label-input">Potencia eléctrica</label>
          <div class="input-wrap">
            <div class="input-info" [class.success]="boatForm.get('electricPower')?.valid"
              [class.error]="boatForm.get('electricPower')?.invalid && boatForm.get('electricPower')?.touched">
            </div>
            <input formControlName="electricPower" class="form__input" type="text" placeholder="Potencia eléctrica"
              name="electricPower" autocomplete="off" maxlength="11">
          </div>
          <span class="form__error"
            *ngIf="boatForm.get('electricPower')?.invalid && boatForm.get('electricPower')?.touched">
            Debe <strong>completar el campo.</strong>
          </span>
        </div>

        <div class="form__input-container"></div>
      </div>


      <button type="submit" class="form__btn" [disabled]="boatForm.invalid || isLoading ">{{ btnText }} <i *ngIf="isLoading" class="fa-solid fa-circle-notch loader-animation"></i></button>
    </form>
  </div>
</div>