@import "./../../app.component.scss";

.desktop-app-container{
    width: 100%;
    display: flex;
    flex-direction: row;


    .nav-sidebar{
        width: 20%;
    }

    .app-container{
        width: 80%;
    }
}

// laptop L
@media screen and (min-width: 1440px) {


    .desktop-app-container{
        
        .nav-sidebar{
            width: 15%;
        }

        .app-container{
            width: 85%;
        }
    }
}

