<div class="main">

    <label *ngIf="!isSelected">Selecciona una empresa:</label>
    <label *ngIf="isSelected">Empresa seleccionada:</label>

    <div class="search-wrap">
        <div class="input-decorator"></div>
        <div class="input-container">
            <i *ngIf="isLoading" class="fa-solid fa-circle-notch loader-animation"></i>
            <i class="fa-solid fa-building"></i>
            <span *ngIf="isSelected" (click)="removeCompanySelected()" class="cross">x</span>
            <input [disabled]="isLoading || isSelected" type="text" placeholder="Buscar empresa" (focusout)="typingInputSearch($event)" maxlength="25" value="{{inputSearchValue}}" >
        </div>
    </div>

    <div *ngIf="!isSelected" class="result-wrap">
        <ul *ngFor="let company of companies" >
            <li (click)="selectCompany($event)">{{company.RazonSocial}}</li>
        </ul>
    </div>

</div>

