// ############################## variables ############################## //

// colors:
$principal-color: rgb(0, 0, 40);
$secondary-color: #dce6ef;
$hover-color: rgb(45, 48, 85);

// ############################## Animations ############################## //
// fade animation. //
@keyframes fade {
    from{opacity:0;}
    to{opacity: 1;}
}
