// ############################## variables ############################## //

// colors:
$principal-color: rgb(0, 0, 40);
$secondary-color: #dce6ef;
$light-blue:#4c7ca7;
$hover-color: rgb(45, 48, 85);
$error-color: #b1161b;

// ############################## Animations ############################## //
// fade animation. //
@keyframes fade {
    from{opacity:0;}
    to{opacity: 1;}
}
