@import "./../../app.component.scss";


.main{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $principal-color-blue;
    
    .logo-container{
        display: none;
    }

    .login-container{
        width: 90%;

        margin-left: auto;
        margin-right: auto;

        background-color: rgb(0,0,0, .09);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        border-radius: 5px;
        padding: 20px;

        .input-wrap{
            width: 100%;
            display: flex;
            flex-direction: column;

            margin-bottom: 10px;

            label{
                font-size: 14px;
            }
            
            .input-container{
                width: 100%;
                display: flex;
                flex-direction: row;
               
                .input__decorator{
                    width: 2%;
                    border-radius: 3px 0px 0px 3px;
                    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                    background-color: $principal-color-blue;
                }
    
                input{
                    width: 98%;
                    padding: 8px;
    
                    outline: none;
                    border: none;
                    border-radius: 0px 3px 3px 0px;
    
                    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                    background-color: $secondary-color;
                    font-size: 14px;
    
                    transition: .3s all ease-in-out;
    
                    &:focus {
                    background-color: $secondary-color-2;
                    }
                }
            }
        }

        .login__btn{
            width: 100%;
            margin-top: 30px;
            padding: 10px;

            background-color: $principal-color-blue;
            border: none;
            border-radius: 5px;
            box-shadow: $box-shadow-btn;

            letter-spacing: 0.8px;
            font-size: 16px;
            color: white;

            transition: .3s ease all;
            &:disabled{
                opacity: .4;
                cursor: default;
                background-color: $principal-color-blue;
            }

            .loader-animation{
                animation: spinner 1.5s ease infinite;
            }
        }

    }
}

@media screen and (min-width: 768px) {
    .main{
        .login-container{
            width: 50%;
        }
    }
}
@media screen and (min-width: 1024px) {
    .main{
        height: 90vh;

        .logo-container{
            display: flex;
            margin-bottom: 20px;
            align-items: center;

            .logo__escudo{
                width: 75px;
                height: 75px;
            }

            .logo__title{
                margin-left: 10px;
                font-size: 36px;
            }
        }

        .login-container{
           
            .login__btn:hover:enabled{
                cursor: pointer;
                background-color: $hover-color;                
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .main{
        
        .login-container{
            width: 40%;
        }
    }
}