<section class="main">
    
   
        <form class="login-container" [formGroup]="loginForm" (ngSubmit)="onLogin()">

            <div class="input-wrap">
                <label for="">Usuario</label>
                <div class="input-container">
                    <div class="input__decorator"></div>
                    <input type="text" formControlName="username" placeholder="Usuario">
                </div>
            </div>

            <div class="input-wrap">
                <label for="">Contraseña</label>
                <div class="input-container">
                    <div class="input__decorator"></div>
                    <input type="password" formControlName="password" placeholder="Contraseña">
                </div>
            </div>

            <input class="login__btn" type="submit" value="Ingresar" [disabled]="loginForm.invalid">

        </form>
</section>
