<div #overlay (click)="close_popup()" class="popup-overlay">
  <div #popup (click)="clickPopup = true" class="popup-container">
    <div class="popup__close">
      <svg (click)="close_popup()" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 96 96">
        <switch>
          <g>
            <path
              d="M53.657 48l25.171-25.172a4 4 0 1 0-5.656-5.656L48 42.343 22.829 17.172a4 4 0 0 0-5.657 5.656L42.344 48 17.172 73.172a4 4 0 1 0 5.657 5.656L48 53.657l25.172 25.171C73.953 79.609 74.977 80 76 80s2.048-.391 2.828-1.172a4 4 0 0 0 0-5.656L53.657 48z" />
          </g>
        </switch>
      </svg>
    </div>
    <h2 #title class="popup__title">{{ titleText }}</h2>

    <form #form class="popup__form" [formGroup]="CompanyForm" (ngSubmit)="onSubmit()">
      <div class="form__input-container">
        <label class="form__label" for="razSoc">*Razón Social</label>
        <input formControlName="razonSocial" class="form__input" type="text" placeholder="Razón social"
          name="razonSocial" autocomplete="off">
        <span class="form__error"
          *ngIf="CompanyForm.get('razonSocial')?.invalid && CompanyForm.get('razonSocial')?.touched">
          Ingrese la <strong>razón social.</strong>
        </span>
      </div>
      <div class="form__input-container">
        <label class="form__label" for="CUIT">*CUIT</label>
        <input formControlName="CUIT" class="form__input" type="text" placeholder="CUIT" name="CUIT" autocomplete="off"
          maxlength="11">
        <span class="form__error" *ngIf="CompanyForm.get('CUIT')?.invalid && CompanyForm.get('CUIT')?.touched">
          Debe ingresar el<strong> CUIT sin letras y carácteres especiales.</strong>
        </span>
      </div>
      <button type="submit" class="form__btn" [disabled]="CompanyForm.invalid">{{ btnText }}</button>
    </form>
  </div>
</div>
